apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: cilium
  namespace: argocd
spec:
  destination:
    namespace: kube-system
    server: https://kubernetes.default.svc
  project: default
  source:
    repoURL: https://github.com/YOUR_GITHUB_REPO.git
    targetRevision: HEAD
    path: apps/cilium
    helm:
      releaseName: cilium
  syncPolicy:
    automated:
      selfHeal: true
      prune: true
