k8sServiceHost: "10.0.1.1"
k8sServicePort: 6443

# K3s requires kubeProxyReplacement
kubeProxyReplacement: strict
kubeProxyReplacementHealthzBindAddr: "0.0.0.0:10256"

# We use eth1 (your private network)
devices: ["eth1"]

tunnel: vxlan

operator:
  enabled: true

hubble:
  enabled: false

ipam:
  mode: kubernetes

resources:
  requests:
    cpu: 100m
    memory: 128Mi
