apiVersion: apps/v1
kind: Deployment
metadata:
  name: argocd-server
  namespace: argocd
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: argocd-server
  template:
    metadata:
      labels:
        app.kubernetes.io/name: argocd-server
    spec:
      nodeSelector: {{ toYaml .Values.nodeSelector | nindent 8 }}
      tolerations: {{ toYaml .Values.tolerations | nindent 6 }}
      affinity: {{ toYaml .Values.affinity | nindent 6 }}
      containers:
        - name: server
          image: {{ .Values.image.repository }}-server:{{ .Values.image.tag }}
          args: ["--staticassets","/shared/app"]
          ports:
            - containerPort: 8080
            - containerPort: 443
          volumeMounts:
            - name: tls
              mountPath: /app/config/tls
      volumes:
        - name: tls
          secret:
            secretName: insertagent-tls
