replicaCount: 1

image:
  repository: quay.io/argoproj/argocd
  tag: v2.7.11

nodeSelector:
  role: control-plane

tolerations: []

affinity: {}

resources:
  requests:
    cpu: 100m
    memory: 128Mi
  limits:
    cpu: 500m
    memory: 512Mi

storageClassName: longhorn
persistence:
  enabled: true
  size: 10Gi

ingress:
  enabled: true
  host: argocd.insertagent.com
  annotations:
    konghq.com/strip-path: "true"
    konghq.com/protocols: "https"
  tls:
    enabled: true
    secretName: insertagent-tls

serviceMonitor:
  enabled: true
  interval: 30s

pdb:
  enabled: true
  maxUnavailable: 1

hpa:
  enabled: true
  minReplicas: 1
  maxReplicas: 2
  cpu:
    targetAverageUtilization: 50
